.from-controler{
    background-color: #563D7C;
    width: 100%;
    border-radius: 25px;
}
.from-controler .from{
    width: 100%;
    padding: 35px 20px;
    margin: auto;

}
.from-controler form input, textarea{
    display: block;
    border: none;
    border-radius: 6px;
    padding: 14px;
    margin: 19px auto;
    width: 85%;
    font-size: 18px;
}
.from-controler form textarea{
    padding: 26px;
}
.from-controler form input[type='submit']{
    background-color: green;
    padding: 13px;
    width: 180px;
    margin: auto;
    margin-top:32px;
    color:#fff;
    font-weight: 500;
    transition: 1s;
}
.from-controler form input[type='submit']:hover{
    background-color: #AEB110;
}
.from-controler form .p{
    margin-top: 15px;
    font-size: 15px;
    color:#fff;
    text-align: center;
}
.from-controler form .note{
    font-size: 0.8rem;
    color:yellow;
    text-align: center
}
/* ========================================
        Responsive CSS
======================================== */

@media screen and (max-width: 768px) {
    .from-controler{
    margin:auto;
    }
}
@media screen and (max-width: 768px) {
    .from-controler form input[type='submit']{
    width: 100px;
    padding: 5px;
    font-size: 1rem;
    margin-top: 15px;
    }
    .from-controler form .note{
        font-size: .7rem;
    }
    .from-controler form .p{
        margin-top: 12px;
        font-size: 12px;
    }
    .from-controler form input, textarea{
        padding: 8px;
        margin: 14px auto;
        width: 80%;
        font-size: 15px;
    }
}