.header{
    background-image:url("../../images/headerbackground/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%; 
    padding-bottom: 170px;
}

.navbar-control img{
    height: 100px;
    width:100%;
}
.navbar-control a{
    font-weight: 600;
    color:#fff !important
}
.navbar-control a:hover{
    color:black !important
}
.navbar-control a{
    text-decoration: none;
}

.welcome-section .welcome-text{
    margin-top:75px;
    font-weight:600;
}
.welcome-section p{
    margin:10px 20px;
}
.welcome-section button{
    background-color: white;
    border:none;
    border-radius: 8px;
    padding:8px 45px;
    transition:1s;
    margin:50px;
}
.welcome-section button:hover{
    background-color: #EEC237;
    color:white;
    border-radius: 25px;
}
.user-control{
    background-color: rgb(113, 176, 41);
    border-radius: 10px;
}
.user-control:hover{
    background-color: #fff;
}
.user-control a{
    text-decoration:none;
}
.user-control:hover svg{
    fill:green;
}
.user-control:hover a{
    color:green !important;
}

/* ============================================
            Resposive CSS
============================================ */


@media only screen and (min-width:200px) and (max-width: 768px){
    .welcome-section .welcome-text{
        margin-top: 40px;
    }
    .navbar-control img{
        width: 70%;
    }
    .welcome-section button{
        padding:4px 30px;
        transition:1s;
        margin:20px 0 0 0;
        font-size: .8rem;
    }
    .navbar-control a{
        font-size: .8rem;
    }
    .navbar-control .butn-control{
        background-color: rgba(0, 0, 0, 0);
    }
    .navbar-control .butn-control:hover{
        background-color: rgba(0, 0, 0, 0);
        
    }
    .user-control{
        background-color: rgb(0, 0, 0, 0);
        border-radius: 10px;
    }
    .user-control:hover{
        background-color: rgb(0, 0, 0, 0);
    }
    
}