.common-conttainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.sub_common_contaienr{
    margin: 5px;
    padding:5px;
    background-color: #A8A8A8;
}
#img{
    width: 100%;
    height: 150px;
}
.room-name{
    margin: 0;
}
.start{
    display:block;
    margin-top: 0;
    padding:5px
}
.similar-icon{
    width: 25px;
    height: 20px;
    margin: 0;
    padding: 0;
}
.sub_common_contaienr span{
    margin: 7px;
}
.tk{
    font-weight: 600;
}
.sub_common_contaienr button{
    float: right;
    background-color: green;
    color: white;
    border:none;
    transition: 1s;
}
.sub_common_contaienr button:hover{
    background-color: #AEB110;
}
