.testimonial{
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px 0 250px 0;
    background-image: url('../../images/headerbackground/tes_bg.jpg');
}
.text-center{
    color: green;
    margin-bottom: 20px;
    font-family: 'Alegreya', serif;
}

.sub-commnt{
    background-color: green;
    width:47%;
    height: 100%;
    color:white;
    border-radius: 35px -0 35px;
}
.carousel-control-prev, .carousel-control-next{
    display: none;
}
.h6-img{
    display: flex;
}
.h6-img h6{
    float:left;
    width: 100%;
}
.h6-img img{
    width: 30px;
}
.carousel-indicators{
    bottom:-60px;
}
.carousel-dark .carousel-indicators [data-bs-target]{
    background-color:green;
    width: 16px;
    height: 15px;
    border-radius: 50%;

}

/* ========================================
        Responsive CSS
======================================== */

@media screen and (max-width: 768px) {
    .sub-commnt{
        width: 80%;
        margin: 10px auto;
    }
    .carousel-dark .carousel-indicators [data-bs-target]{
        width: 10px;
        height: 11px;
    }
}
