.testimonial{
    width:100%;
    height: 100%;
    padding: 50px 0 250px 0;
    background-image: url('../../images/headerbackground/tes_bg.jpg');
}
.testimonial h5{
    font-size: 3.3rem;
    font-weight: 640;
}
.testimonial p{
    font-size: 1.1rem;
}
.sub-commnt{
    background-color: green;
    width:47%;
    height: 170px;
    color:white;
    border-radius: 35px -0 35px;
}
.carousel-control-prev, .carousel-control-next{
    display: none;
}
.h6-img{
    display: flex;
}
.h6-img h6{
    float:left;
    width: 100%;
    font-size: 1.3rem;
}
.h6-img img{
    width: 30px;
}
.carousel-indicators{
    bottom:-60px;
}
.carousel-dark .carousel-indicators [data-bs-target]{
    background-color:green;
    width: 16px;
    height: 15px;
    border-radius: 50%;

}
