.booking-from{
    background-color: #fff;
    margin-top: -120px;
    border-radius:40px;
}

.booking-from label{
    padding:7px;
    font-size: 17px;
    font-weight: 600;
    color:#7e7e7e;
}
.booking-from input{
    width:100%;
    padding:13px;
    border-radius: 20px;
    border: none;
    background-color: #ebe2e2;
}
.booking-from input[type=button]{
    background-color: green;
    color:#fff;
    width: 80%;
    border:none;
    border-radius: 12px;
    margin-top: 15px;
}
.booking-from input[type=button]:hover{
    border-radius: 22px;
    background-color: #aeb110;
}